{% extends 'productlist/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<div id="header">
      <title>TechKart : Home</title>
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!--my account -->
                        {% if user.is_authenticated %}
                           <ul class="header-links pull-right">
                        <li><a href="{% url 'logout' %}"><i class="fa fa-user-o"></i>Logout</a></li>
                    </ul>                         <ul class="header-links pull-right">
                        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                    </ul>

                         <div class="header-ctn">
                          <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Your Cart</span>
                                        <div class="qty"></div>
                                    </a>

                                </div>
                         </div>
                        {% else %}
                             <ul class="header-links pull-right">
                        <li><a href="{% url 'login' %}"><i class="fa fa-user-o"></i> Login</a></li>
                        </ul>


                        {% endif %}
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="#" class="logo">
                                    <img src="{% static './img/logoo.png' %}" alt="" height="100px" width="150px">
                                </a>
                            </div>
                        </div>

                        <!-- /LOGO -->
                        <center>
                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">

                                <h1 style="color:white;"><strong>TechKart Register</strong> </h1>
                            </div>
                        </div>
                            </center>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->





                            </div>
                        </div>
                    </div>

</head>

        <!-- NEWSLETTER -->
        <div id="newsletter" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <p><strong>Sign Up</strong></p>

                            <form action="{.} " method="post">
                                {% csrf_token %}
                                {% include 'partial/_alerts.html' %}
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="name" class="form-control" id="fname" aria-describedby="name" placeholder="Enter Name" name="fname">
                                </div>
                                 <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="name" class="form-control" id="lname" aria-describedby="name" placeholder="Enter Name" name="lname">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="name" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                    <br>
                                     <div class="form-group">
                                    <label for="cpassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="cpassword" aria-describedby="emailHelp" placeholder="Password" name="cpassword">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
                                </div>
<!--                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>-->
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-primary">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /NEWSLETTER -->

    </body>
</html>
{% endblock %}