{% extends 'productlist/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
}
$('.cart').click(function(){
console.log('clicked');
});
</script>

{% endblock %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<div id="header">
      <title>TechKart : Home</title>
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!--my account -->
                        {% if user.is_authenticated %}
                           <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-user-o"></i>Logout</a></li>
                    </ul>
                    <ul class="header-links pull-right">
                        <li><button class="button" data-toggle="modal" data-target="#myModal" style="border: none; background-color: #00001a; color: white;"><i class="fa fa-user-o"></i> My Account</button></li>
                    </ul>

                         <div class="header-ctn">
                          <div class="dropdown">

                                        <a href="{% url 'cart:opencart' %}" class="fa fa-shopping-cart"></input>
                                        <span>Your Cart</span></a>



                                </div>
                         </div>
                        {% else %}
                             <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:login' %}"><i class="fa fa-user-o"></i> Login</a></li>
                        </ul>
                        <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:register' %}"><i class="fa fa-user-o"></i> Register</a></li>
                    </ul>

                        {% endif %}
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="{% url 'productlist:listings' %}" class="logo">
                                    <img src="{% static './img/logoo.png' %}" alt="" height="100px" width="150px">
                                </a>
                            </div>
                        </div>

                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                       <div class="col-md-6">
                            <div class="header-search">
                                <form action="{% url 'productlist:search' %} " method="get">
                                {% csrf_token %}
                                    <input class="input" placeholder="Search here" name="keywords">
                                    <button class="search-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->





                            </div>
                        </div>
                    </div>

</head>

        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="{% url 'productlist:listings' %}">Home</a></li>
                        <li><a href="{% url 'productlist:hotdeals' %}">Hot Deals</a></li>
                        <li><a href="{% url 'productlist:laptop' %}">Laptops</a></li>
                        <li><a href="{% url 'productlist:smartphones' %}">Smartphones</a></li>
                        <li><a href="{% url 'productlist:camera' %}">Cameras</a></li>
                        <li><a href="{% url 'productlist:accessories' %}">Accessories</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <a href="{% url 'productlist:laptop' %}">
                            <div class="shop-img">
                                <img src="{% static './img/shop01.png' %}"  alt="">
                            </div></a>
                            <div class="shop-body">
                                <h3>Laptop<br>Collection</h3>
                                <a href="{% url 'productlist:laptop' %}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->

                    <!-- shop -->
                    <div class="col-md-4 col-xs-6">
                        <div class="shop"><a href="{% url 'productlist:accessories' %}">
                            <div class="shop-img">
                                <img src="{% static './img/shop03.png' %}" alt="">
                            </div></a>
                            <div class="shop-body">
                                <h3>Accessories<br>Collection</h3>
                                <a href="{% url 'productlist:accessories' %}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop -->

                    <!-- shop -->

                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                              <a href="{% url 'productlist:camera' %}">
                            <div class="shop-img">

                                <img src="{% static './img/shop02.png' %}" alt="">
                            </div>
                              </a>
                            <div class="shop-body">
                                <h3>Cameras<br>Collection</h3>
                                <a href="{% url 'productlist:camera' %}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- /shop -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h3 class="title">New Products</h3>

                        </div>
                    </div>

                    <!-- /section title -->
                    {% if alllisting %}
                        <div class="col-md-12">
                        <div class="row">
                            <div class="products-tabs">
                                <!-- tab -->
                                <div id="tab2" class="tab-pane fade in active">
                                    <div class="products-slick" data-nav="#slick-nav-2">
                        {% for alllisting in alllisting %}
                     <!-- Products tab & slick -->
                    <div class="product">
                        <a href="{% url 'productlist:listing' alllisting.id %}">
                                            <div class="product-img">

                                                <img src="{{ alllisting.mainphoto.url }}"  height="300" width="150" alt="">

                                            </div></a>
                                            <div class="product-body">
                                                <p class="product-category">{{ alllisting.category }}</p>
                                                <h3 class="product-name"><a href="{% url 'productlist:listing' alllisting.id %}">{{ alllisting.p_name }}</a></h3>
                                                <h4 class="product-price">Rs.{{ alllisting.price }}</h4>
                                                <div class="product-rating">
                                                </div>

                                            </div>
                                            {% if user.is_authenticated %}
                                             <form name="addtocart" action="{% url 'cart:addtocart' %}" method="post">
                                                {% csrf_token %}
                                                 <div class="add-to-cart">
                                                    <input type="hidden" name="quantity" value="1">
                                                     <input type="hidden" name="listingid" value="{{ alllisting.id }}">
<!--                                                     <button class="add-to-cart-btn">Add to cart</button>-->
                                                     <input type="submit" name="ADD TO CART" VALUE="ADD TO CART" class="add-to-cart-btn">
                                                 </div>
                                            </form>
                                        {% else %}
                                            <form name="addtocart" action="{% url 'accounts:login' %}" method="post">
                                                {% csrf_token %}
                                                 <div class="add-to-cart">
                                                    <input type="hidden" name="quantity" value="1">
                                                     <input type="hidden" name="listingid" value="{{ alllisting.id }}">
<!--                                                      <button class="add-to-cart-btn">Add to cart</button>-->
                                                     <input type="submit" name="ADD TO CART" VALUE="ADD TO CART" class="add-to-cart-btn">
                                                 </div>
                                            </form>
                                        {% endif %}
                                        </div>

                <!-- /row -->

            {% endfor %}
                                      </div>
                                    <div id="slick-nav-2" class="products-slick-nav"></div>
                                </div>
                                <!-- /tab -->
                            </div>
                        </div>
                    </div>
                    <!-- /Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
                    {% else %}
                        <div class="col-md-12">
                            <p>NO LISTING AVAILABLE</p>
                        </div>
                    {% endif %}

                                        <!-- /product -->


        <!-- /SECTION -->

        <!-- HOT DEAL SECTION -->
        <div id="hot-deal" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="hot-deal">
                            <ul class="hot-deal-countdown">
                                <li>
                                    <div>
                                        <h3 id="days"></h3>
                                        <span>Days</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h3 id="hours"></h3>
                                        <span>Hours</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h3 id="mins"></h3>
                                        <span>Mins</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h3 id="secs"></h3>
                                        <span>Secs</span>
                                    </div>
                                </li>
                            </ul>
                            <h2 class="text-uppercase">hot deal this week</h2>
                            <p>New Collection Up to 50% OFF</p>
                            <a class="primary-btn cta-btn" href="{% url 'productlist:hotdeals' %}">Shop now</a>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /HOT DEAL SECTION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <!-- section title -->
                    <div class="col-md-12">
                        <div classf="section-title">
                            <h3 class="title">TOP SELLING</h3>

                        </div>
                    </div>
                    <!-- /section title -->
`               {% if storage %}
                      <div class="col-md-12">
                        <div class="row">
                            <div class="products-tabs">
                                <!-- tab -->
                                <div id="tab2" class="tab-pane fade in active">
                                    <div class="products-slick" data-nav="#slick-nav-2">
                    {% for storage in storage %}
                        <!-- Products tab & slick -->

                                        <!-- product -->
                                        <div class="product">
                                            <a href="{% url 'productlist:listing' storage.id %}">
                                            <div class="product-img">
                                                <img src="{{ storage.mainphoto.url }}" height="200" width="150" alt="">

                                            </div></a>
                                            <div class="product-body">
                                                <p class="product-category">{{ storage.category }}</p>
                                                <h3 class="product-name"><a href="{% url 'productlist:listing' storage.id %}">{{ storage.p_name }}</a></h3>
                                                <h4 class="product-price">₹{{ storage.price }} </del></h4>
                                                <div class="product-rating">

                                                </div>

                                            </div>
                                                {% if user.is_authenticated %}
                                                <form name="addtocart" action="{% url 'cart:addtocart' %}" method="post">
                                                {% csrf_token %}
                                                 <div class="add-to-cart">
                                                    <input type="hidden" name="quantity" value="1">
                                                     <input type="hidden" name="listingid" value="{{ storage.id }}">
                                                     <input type="submit" name="ADD TO CART" VALUE="ADD TO CART" class="add-to-cart-btn">
                                                 </div>
                                            </form>
                                            {% else %}
                                            <form name="addtocart" action="{% url 'accounts:login' %}" method="post">
                                                {% csrf_token %}
                                                 <div class="add-to-cart">
                                                    <input type="hidden" name="quantity" value="1">
                                                     <input type="hidden" name="listingid" value="{{ storage.id }}">
                                                     <input type="submit" name="ADD TO CART" VALUE="ADD TO CART" class="add-to-cart-btn">
                                                 </div>
                                            </form>
                                            {% endif %}
                                        </div>
                                        <!-- /product -->




            {% endfor %}
                                        {% endif %}
                                        <!-- /product -->
                                    </div>
                                    <div id="slick-nav-2" class="products-slick-nav"></div>
                                          </div>
                                <!-- /tab -->
                            </div>
                        </div>
                    </div>
                    <!-- /Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    	<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
                    {% if laptop %}
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">TOP SELLING</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
                                {% for laptop in laptop %}
								<!-- product widget -->
								<div class="product-widget">
                                    <a href="{% url 'productlist:listing' laptop.id %}">
									<div class="product-img">
										<img src="{{ laptop.mainphoto.url }}" alt="">
									</div></a>
									<div class="product-body">
										<p class="product-category">{{ laptop.category }}</p>
										<h3 class="product-name"><a href="{% url 'productlist:listing' laptop.id %}">{{ laptop.p_name }}</a></h3>
										<h4 class="product-price">₹{{ laptop.price }} </h4>
									</div>
								</div>
                                {% endfor %}

                    {% else %}
                    <h1>No listings found </h1>
                {% endif %}

								<!-- /product widget -->

							</div>
                                {% if Smartphones %}
							<div>
                                {% for Smartphones in Smartphones %}
								<!-- protduct widget -->
								<div class="product-widget">
                                    <a href="{% url 'productlist:listing' Smartphones.id %}">
									<div class="product-img">
										<img src="{{ Smartphones.mainphoto.url }}" alt="">
									</div></a>
									<div class="product-body">
										<p class="product-category">{{ Smartphone.category }}</p>
										<h3 class="product-name"><a href="{% url 'productlist:listing' Smartphones.id %}">{{ Smartphones.p_name }}</a></h3>
										<h4 class="product-price">₹{{ Smartphones.price }}</h4>
									</div>
								</div>
                                {% endfor %}

								<!-- product widget -->
							</div>
                            {% endif %}
						</div>
					</div>

				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
    <!-- FOOTER -->




</html>
{% endblock %}
