{% extends 'productlist/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<div id="header">
      <title>TechKart : Home</title>
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!--my account -->
                        {% if user.is_authenticated %}
                           <ul class="header-links pull-right">
                        <li><a href="{% url 'logout' %}"><i class="fa fa-user-o"></i>Logout</a></li>
                    </ul>                         <ul class="header-links pull-right">
                        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                    </ul>

                         <div class="header-ctn">
                          <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Your Cart</span>
                                        <div class="qty"></div>
                                    </a>

                                </div>
                         </div>
                        {% else %}
                             <ul class="header-links pull-right">
                        <li><a href="{% url 'login' %}"><i class="fa fa-user-o"></i> Login</a></li>
                        </ul>
                        <ul class="header-links pull-right">
                        <li><a href="{% url 'register' %}"><i class="fa fa-user-o"></i> Register</a></li>
                    </ul>

                        {% endif %}
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="#" class="logo">
                                    <img src="{% static './img/logoo.png' %}" alt="" height="75px" width="75px">
                                </a>
                            </div>
                        </div>

                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form action="{.} " method="get">
                                {% csrf_token %}
                                    <input class="input" placeholder="Search here" name="keywords">
                                    <button class="search-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->





                            </div>
                        </div>
                    </div>

</head>

    <body>

        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Hot Deals</a></li>
                        <!--                        <li><a href="#">Categories</a></li>-->
                        <li><a href="#">Laptops</a></li>
                        <li><a href="#">Smartphones</a></li>
                        <li><a href="#">Cameras</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->


        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- Product main img -->
                    <div class="col-md-5 col-md-push-2">
                        <div id="product-main-img">
                            <div class="product-preview">
                                <img src="{{ Listing.mainphoto.url }}" alt="">
                            </div>

                            <div class="product-preview">
                                <img src="Listing.photo1.url " alt="">
                            </div>

                            <div class="product-preview">
                                <img src=" Listing.photo2.url " alt="">
                            </div>

                            <div class="product-preview">
                                <img src=" Listing.photo1.url " alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /Product main img -->

                    <!-- Product thumb imgs -->
                    <div class="col-md-2  col-md-pull-5">
                        <div id="product-imgs">
                            <div class="product-preview">
                                <img src="./img/product01.png" alt="">
                            </div>

                            <div class="product-preview">
                                <img src="./img/product03.png" alt="">
                            </div>

                            <div class="product-preview">
                                <img src="./img/product06.png" alt="">
                            </div>

                            <div class="product-preview">
                                <img src="./img/product08.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /Product thumb imgs -->

                    <!-- Product details -->
                    <div class="col-md-5">
                        <div class="product-details">
                            <h2 class="product-name">{{ Listing.p_name }}</h2>
                            <div>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <a class="review-link" href="#">10 Review(s)</a>
                            </div>
                            <div>
                                <h3 class="product-price">{{ Listing.price }}</h3>
                                <span class="product-available">In Stock</span>
                            </div>
                            <p>{{ Listing.description }}.</p>

                            <div class="product-options">

                                <label>
                                    Color
                                    <select class="input-select">
                                        <option>Select</option>
                                        <option value="0">{{ Listing.p_color }} </option>

                                    </select>
                                </label>
                            </div>

                            <div class="add-to-cart">
                             <div class="qty-label">
                                    Qty
                                    <div class="input-number">
                                        <input type="number" value="0">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                    </div>
                                </div>
                                <a target="_self" href="{% url 'shoppingcart:addtocart' Listing.id %}"><strong><h4>Add To Cart</h4></strong></a>
                                <br><br>


                            </div>



                        </div>
                    </div>
                    <!-- /Product details -->

                    <!-- Product tab -->
                    <div class="col-md-12">
                        <div id="product-tab">
                            <!-- product tab nav -->
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab2">Details</a></li>
                                <li><a data-toggle="tab" href="#tab3">Reviews </a></li>
                            </ul>
                            <!-- /product tab nav -->

                            <!-- product tab content -->
                            <div class="tab-content">
                                <!-- tab1  -->
                                <div id="tab1" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>{{ Listing.description }}.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /tab1  -->

                                <!-- tab2  -->
                                <div id="tab2" class="tab-pane fade in">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /tab2  -->

                                <!-- tab3  -->
                                <div id="tab3" class="tab-pane fade in">
                                    <div class="row">
                                        <!-- Rating -->
                                        <div class="col-md-3">
                                            <div id="rating">
                                                <div class="rating-avg">
                                                    <span>4.5</span>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <ul class="rating">
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: 80%;"></div>
                                                        </div>
                                                        <span class="sum">3</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: 60%;"></div>
                                                        </div>
                                                        <span class="sum">2</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /Rating -->
                            {% if reviews %}


                                        <!-- Reviews -->
                                        <div class="col-md-6">
                                            <div id="reviews">
                                                <ul class="reviews">
                                                    <li>
                                            {% for reviews in reviews %}
                                                        <div class="review-heading">
                                                            <h5 class="name">{{ user }}</h5>

                                                            <div class="review-rating">
                                                                <p>{{ reviews.star }}  <i class="fa fa-star"></i  </p>

                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ reviews.data }}</p>
                                                        </div>
                                                    </li>


                                                </ul>
                                                <center>
                                                    {% endfor %}
                                                    {% else %}
                                                    <h1>No Reviews Available</h1>
                                                    {% endif %}
                                                <a target="_self" href="{{ 'reviews' }}"><strong><h4>Add Reviews</h4></strong></a>
                                                </center>
                                            </div>
                                        </div>
                                        <!-- /Reviews -->
                                        <!-- Review Form -->

                                        <!-- /Review Form -->


                                    </div>
                                </div>
                                <!-- /tab3  -->
                            </div>
                            <!-- /product tab content  -->
                        </div>
                    </div>
                    <!-- /product tab -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
        {% if category %}
        <!-- Section -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="title">Related Products</h3>
                        </div>
                    </div>

                    <!-- product -->
                {% for category in category %}
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="{{ category.mainphoto.url }}" alt="">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ category.category }}</p>
                                <h3 class="product-name"><a href="{% url 'listing' category.id %}">{{ category.p_name }}</a></h3>
                                <h4 class="product-price">Rs. {{ category.price }}</h4>
                                <div class="product-rating">
                                </div>
                                <div class="product-btns">


                                    <!--                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>-->
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a target="_self" href="{% url 'shoppingcart:addtocart' category.id %}""><strong><h4>Add To Cart</h4></strong></a>
                            </div>
                            <br>

                        </div>
                    </div>
                    {% endfor %}



                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /Section -->
         {% else %}
                        <div class="col-md-12">
                            <p>NO LISTING AVAILABLE</p>
                        </div>
                    {% endif %}




    </body>
</html>
{% endblock %}