{% extends 'productlist/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <div id="header">
      <title>TechKart : Laptop</title>
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!--my account -->
                        {% if user.is_authenticated %}
                           <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-user-o"></i>Logout</a></li>
                    </ul>                         <ul class="header-links pull-right">
                        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                    </ul>

                         <div class="header-ctn">
                          <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Your Cart</span>
                                        <div class="qty"></div>
                                    </a>

                                </div>
                         </div>
                        {% else %}
                             <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:login' %}"><i class="fa fa-user-o"></i> Login</a></li>
                        </ul>
                        <ul class="header-links pull-right">
                        <li><a href="{% url 'accounts:register' %}"><i class="fa fa-user-o"></i> Register</a></li>
                    </ul>

                        {% endif %}
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="{% url 'productlist:listings' %}" class="logo">
                                    <img src="{% static './img/logoo.png' %}" alt="" height="75px" width="75px">
                                </a>
                            </div>
                        </div>

                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form action="{% url 'productlist:search' %} " method="get">
                                {% csrf_token %}
                                    <input class="input" placeholder="Search here" name="keywords">
                                    <button class="search-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->





                            </div>
                        </div>
                    </div>

</head>
        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                     <ul class="main-nav nav navbar-nav">
                        <li><a href="{% url 'productlist:listings' %}">Home</a></li>
                        <li><a href="{% url 'productlist:hotdeals' %}">Hot Deals</a></li>
                        <li><a href="{% url 'productlist:laptop' %}">Laptops</a></li>
                        <li><a href="{% url 'productlist:smartphones' %}">Smartphones</a></li>
                        <li><a href="{% url 'productlist:camera' %}">Cameras</a></li>
                        <li><a href="{% url 'productlist:accessories' %}">Accessories</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->

        <!-- /NAVIGATION -->

        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                   
                    
                    
                  <!-- /section title -->
                    {% if queryset_list %}
                       <div class="col-md-12">
                        <div class="row">
                            <div class="products-tabs">
                                <!-- tab -->
                                <div id="tab2" class="tab-pane fade in active">
                                    <div class="products-slick" data-nav="#slick-nav-2">
                        {% for queryset_list in queryset_list %}
                     <div class="product">
                                            <div class="product-img">
                                                <img src="{{ queryset_list.mainphoto.url }}" alt="">
                                                <div class="product-label">

                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ queryset_list.category }}</p>
                                                <h3 class="product-name"><a href="{% url 'productlist:listing' queryset_list.id %}">{{ queryset_list.p_name }}</a></h3  >
                                                <h4 class="product-price">Rs.{{ queryset_list.price }}</h4>
                                                <div class="product-rating">
                                                </div>
                                                <div class="product-btns">

                                                </div>
                                            </div>

                                            <form name="addtocart" action="{% url 'cart:addtocart' %}" method="post">
                                                {% csrf_token %}
                                                 <div class="add-to-cart">
                                                    <input type="hidden" name="quantity" value="1">
                                                     <input type="hidden" name="listingid" value="{{ Smartphone.id }}">
                                                     <input type="submit" name="ADD TO CART" VALUE="ADD TO CART" class="add-to-cart-btn">
                                                 </div>
                                            </form>
                                        </div>

                <!-- /row -->


            {% endfor %}
                                            </div>
                                    <div id="slick-nav-2" class="products-slick-nav"></div>
                                </div>
                                <!-- /tab -->
                            </div>
                        </div>
                    </div>
                    <!-- /Products tab & slick -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        {% else %}
                                         <div class="col-md-12">
                                             <p>No products Found</p>

                                         </div>
                                        {% endif %}
                                        <!-- /product -->

    </body>
</html>
{% endblock %}